*{
    box-sizing: border-box;
    --color-p1 : rgb(252, 0, 13);
    --color-p2 : rgb(5, 0, 255);
}

body{
    background-color: #EEF9BF;
}

header h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 47px;
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 116px 0 122px;
}

.card{
    transition: all 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    
}
.front-face , .back-face{
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A7E9AF;
    margin: 0 34px 34px;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
}

.back-face img, .front-face img{
    width: 100px;
    height: 100px;
} 
.hidden{
    display: none;
}

.rotate{
    transform:rotateY(180deg);
}
.borderp1{
    border: 3px solid var(--color-p1);
    border-radius: 5px;
   
}
.borderp2{
    border: 3px solid var(--color-p2);
    border-radius: 5px;
   
}
.footer{
    position: absolute;
    bottom: 6%;
    right: 6%;
    display: flex;

}
.timer{
    position: fixed;
    top: 40px;
    right: 50px;
    font-size: 60px;
    color: red;
}
.player1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.player1, .player2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 66px;
    letter-spacing: -0.004em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #A7E9AF;
    border-radius: 10px;
    color: #75B79E;
    width: 100px;
    height: 100px;
}
.turnGame{
    box-shadow: 5px 10px;
}